* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --logo-pri: 'Changa One', cursive;
  --logo-alt: 'Chango', cursive;
  --font-pri: 'Poppins', sans-serif;
  --bg-primary: #091e45;
  
  --text-primary: #cbcbcb;
  --text-secondary: #000048;
  --text-tertiary: #2f2c2c;

    --black-1: #646681;
    --black-2: #585858;
    --bg-1: #f8f8ff;
    --bg-2: #ecedf6;
    --bg-3: #cccdde;
    --gray-1: #eee;
    --gray-2: #dedfe1;

}

html,
body {
  background: var(--bg-primary);
  font-size: 10px;
}

.App {
  --text-align: center;
  --bg-primary: #091e45;
  min-height: 100vh;
}


.App-header {
  height: 70px;
  display: flex;
  padding: 0px 50px;
  align-items: center;
  justify-content: space-between;
  font-size: calc(5px + 2vmin);
  color: var(--text-primary);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
